body {
  /*height: 100%;*/
}

.row {
  width:inherit;
}
.image {
  margin: auto;
}
.center-block {
  margin: auto;
  /*width: -moz-fit-content; fit-content;*/
}

.hidden{
  display: none;
}

.tile {
  background-image: url(http://cdn2.justdogbreeds.com/justdogbreeds-cdn/photos/plog-content/thumbs/dog-breeds/golden-retriever/large/2955-golden-retriever-75.jpg);
  display:inline-block;
  margin-top: -4px; /* Fix spacing issue between tiles*/
  border: 1px solid white;
  z-index: 0;
}

.tile.dragging {
  z-index: 2;
}

.tile.just-dropped {
  z-index: 1;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}
