.svg {
  background-color: skyblue;
  margin-left: auto;
}

/*---------------------Timeline CSS--------------------*/
.year-label {
  font-size: 10px;
}
.axis .domain {
  fill: none;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 6px;
}
.axis .halo{
  fill: none;
  stroke: #000;
  stroke-width: 2px;
  stroke-linecap: round;
}
.handle {
  fill: white;
  stroke: blue;
  stroke-width: 2px;
}
.slider {
  fill: salmon;
  stroke-width:2px;
  stroke: salmon;
}

/*---------------------Map CSS--------------------*/
.map-title {
  font-size: 28px;
  font-weight: 600;
  font-stretch: expanded;
}
.state { fill: white; }
.state-boundary {
  fill: none;
  stroke: #777;
  stroke-dasharray: 5,5;
  stroke-linejoin: round;
}
.coast-line {
  fill: none;
  stroke: #777;
  stroke-dasharray: 2,3;
  stroke-linejoin: round;
}
.place-label {  font-size: 8pt; }
.state-label {
  fill: #777;
  fill-opacity: .5;
  font-size: 16px;
  font-weight: 500;
  text-anchor: middle;
}
